<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="/home">AnaSayfa</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <form method="POST" action="/arama1">
            <input type="text" placeholder="Search.." name="search" style="width: 500px;">
            <button type="submit">Submit</button>
          </form>
          <li class="nav-item">
            <a class="nav-link" href="/arama">Kompleks Arama</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>